/**************************
*共通
***************************/

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100vw;
  height: auto;
}

.title {
  text-align: center;
  font-weight: bold;
}

.lead {
  text-align: center;
  line-height: 1.5em;
}

.primary-color {
  color: #081a51;
}
.secondary-color {
  color: #ddbab8;
}
.light {
  color: #fff;
}
.dark {
  color: #000;
}

html {
  font-size: 32px;
  font-family: "Noto Sans JP", sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.5rem;
}
p {
  font-size: 0.5rem;
}
small {
  font-size: 0.2rem;
}
span {
  font-size: 2em;
}

/**************************
*共通レイアウト
***************************/

.container {
  margin: 10px;
}

.btn-container {
  margin: 10px 0;
}

.centering {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.space_h10 {
  height: 10px;
}
.space_h20 {
  height: 20px;
}
.space_h30 {
  height: 30px;
}
.space_h50 {
  height: 50px;
}
.space_h100 {
  height: 100px;
}
.space_h200 {
  height: 200px;
}

/***************
*ボタン
****************/

.btn_primary {
  color: #fff;
  border-radius: 6px;
  background-color: #081a51;
}

/***************
*ボタン
****************/

.btn_primary {
  color: #fff;
  border-radius: 6px;
  background-color: #081a51;
}

.btn_secondary {
  color: #fff;
  border-radius: 6px;
  background-color: #a52a24;
}

.btn_outlined_primary {
  color: #081a51;
  border-radius: 6px;
  border-color: #081a51;
  border: 2px solid;
}

.btn_outlined_primary {
  color: #081a51;
  border-radius: 6px;
  border-color: #081a51;
  border: 2px solid;
}

/***************
*テキスト
****************/

.bg_primary {
  color: #fff;
  border-radius: 6px;
  background-color: #081a51;
}

.bg_secondary {
  color: #fff;
  border-radius: 6px;
  background-color: #a52a24;
}

.outlined_primary {
  color: #081a51;
  border-radius: 6px;
  border-color: #081a51;
  border: 2px solid;
}

.outlined_primary {
  color: #081a51;
  border-radius: 6px;
  border-color: #081a51;
  border: 2px solid;
}

/**************************
*ツールバー
***************************/

.toolbar {
  background-color: #081a51;
}

.toolbar-title {
  text-align: center;
}

/**************************
*HOME
***************************/
.logo {
  text-align: center;
  position: relative;
  width: 70%;
  top: 280px;
  left: 0px;
}

.card-media {
  width: 80vw;
  height: auto;
  margin: 10px, 10px, 10px, 10px;
}

/**************************
*チェック
***************************/

/**************************
*シュミレーター
***************************/

fieldset {
  font-size: 0.5rem;
}

/**************************
*クイズページ
***************************/

.result-a {
  color: palevioletred;
}

.result-b {
  color: blue;
}

.result-c {
  color: green;
}

.result-d {
  color: purple;
}

.result-e {
  color: red;
}

/***************
*結果ページ
****************/
